@font-face {
    font-family: "Noto";
    src: url(../fonts/NotoSansDisplay-CondensedSemiBold.ttf);
}

@font-face {
    font-family: "Noto";
    src: url(../fonts/NotoSansJP-Medium.otf);
    unicode-range: U+3000-9FFF;
}

html {
    margin: 0rem;
    font-size: 1px;
    background-color: #333333;
    color: white;
    font-family: "Noto";
}

p {
    font-size: 14rem;
}

button, input, select {
    font-family: "Noto";
    font-size: 14rem;
    margin: 2rem;
    height: 30rem;
}

.topHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 482rem;
}

#lssc-panels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ui-menu {
    width: 150rem;
    font-size: 14rem;
}

.ui-autocomplete {
    max-height: 200rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-accordion {
    font-family: "Noto";
    font-size: 14rem;
    max-width: 600rem;
}

.ui-accordion-content {
    border-color: black;
}

.ui-accordion-header {
    background-color: #ff005d;
    color: white;
}

.ui-tooltip {
    font-family: "Noto";
    font-size: 14rem;
    max-width: 300px;
    background: #333333;
    color: white;
}

.ui-button {
    font-size: 18rem;
}

.vertLayout {
    display: flex;
    flex-direction: column;
}

.horiLayout {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.countryFlag {
    margin: auto;
    pointer-events: none;
    cursor: default;
    opacity: 0;
    width: 30rem;
    height: 30rem;
}

#settings {
    font-family: 'Noto';
    height: 80rem;
    font-size: 14rem;
    background-color: white;
}

.charSelect {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 380rem;
    height: 200rem;
    overflow: auto;
}

.charSelect li {
    margin: 3rem;
    padding: 3rem;
    float: left;
    width: 40rem;
    height: 40rem;
    font-size: 10rem;
    text-align: center;
}

.charSelect img {
    width: 40rem;
    height: 40rem;
}

.charSelect .ui-selecting {
    background: #5a5a5a;
}

.charSelect .ui-selected {
    background: #0044ff;
}

.sponsor {
    width: 80rem;
}

.name {
    width: 150rem;
}

.flag, .state {
    width: 50rem;
}

#round {
    width: 200rem;
}

.overflow {
    height: 200rem;
}